{% extends 'base.html' %}
{% block title %}Список заметок{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center my-3">
        <h2>Мои заметки</h2>
        <a class="btn btn-primary btn-custom" href="{% url 'note_create' %}">Добавить заметку</a>
    </div>

    {% for note in notes %}
    <div class="note-card">
        <h4><a href="{% url 'note_detail' note.pk %}" class="text-decoration-none text-dark">{{ note.title }}</a></h4>
        <p class="text-muted">{{ note.created_at }}</p>
        <p>{{ note.content|truncatewords:20 }}</p>
        <div class="d-flex justify-content-end">
            <a href="{% url 'note_update' note.pk %}" class="btn btn-warning btn-sm me-2">Редактировать</a>
            <a href="{% url 'note_delete' note.pk %}" class="btn btn-danger btn-sm">Удалить</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
