{% extends "base.html" %}

{% block title %}Список броней{% endblock %}

{% block content %}
<h2>Список броней</h2>
<table class="table">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Стол</th>
            <th>Дата</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.user.username }}</td>
            <td>{{ reservation.table.number }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
